<div id="postContainer">

					<div class="row" id="postContainerTop">
						
						<h3 id="postTitle">Best Game Eva OMFG LuVs!!</h3>

						<button type="button" class="btn btn-success" id="saveBtn">Save Article</button>

					</div>

					<div class="row" id="postContainerBottom">

						<p>Link: www.reddit.com/r/civ/somethingsomethingdarkside</p>
						
					</div>


				</div>