<!DOCTYPE html>
<html>
<head>
	<title>Civ Scraper</title>
</head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" href="./style.css" type="text/css">
<body>
	<div class="row">
		<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		  
		  <div class="container-fluid">

		  	<div class="navbar-header">

		  		<a class="navbar-brand" href="#">Civ VI Reddit Scanner</a>
		  		
		  	</div>

		  	<div id="navbar" class="navbar-collapse collapse">

		  		<ul class="nav navbar-nav">

		  			<li class="active">
		  				<a href="#">Home</a>
		  			</li>

		  			<li class="active">
		  				<a href="#">Saved</a>
		  			</li>

		  			<li>
		  				<button type="button" class="btn btn-danger" id="scrapeBtn">Newest Posts</button>
		  			</li>
		  			
		  		</ul>
		  		
		  	</div>
		  	
		  </div>
		</nav>
	</div>
	<div class="row">
		<div class="col col-md-1"></div>
		<div class="col col-md-10">

			<div class="row">

				<div class="jumbotron" id="banner">
					
				</div>
				
			</div>

			<div class="row">
			<!-- this begins the handlebars -->
				<div id="postContainer">

					<div class="row" id="postContainerTop">
						<div class="col col-md-8">
							<h3 id="postTitle">Best Game Eva OMFG LuVs!!</h3>
						</div>
						
						<div class="col col-md-4" id="saveBtns">
							<button type="button" class="btn btn-warning" id="notesBtn">Add Notes</button>
							<button type="button" class="btn btn-danger" id="deleteBtn">Delete Article</button>
						</div>

					</div>

					<div class="row" id="postContainerBottom">

						<p>Link: www.reddit.com/r/civ/somethingsomethingdarkside</p>
						
					</div>


				</div>


			<!-- this ends handlebars -->
			</div>
			
		</div>
		<div class="col col-md-1"></div>
	</div>

</body>
</html>